{% extends "learningsite/layout.html" %}
{% block body %}
<div class="container mt-5">
    <h2 class="mb-4">Quên mật khẩu</h2>
    <form method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Nhập email của bạn:</label>
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
</div>
{% endblock %}

<!--các luồng chạy 1: password_reset, 2: password_reset_done:thông báo
đã gửi 1 link đổi mật khẩu, 3: password_reset_confirm: trang để đặt lại mật
khẩu mới, 4: password_reset_complete: thông báo đổi mk thành công-->